:root{
  --primary-orange: #f58223;
  --primary-redBold: #d01002;
  --white-color: #fff;
  --black-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}
body {
  line-height: 1.5;
}
html{
    font-size: 62.5%;
    line-height: 16px;
    font-family:"Roboto", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* header  */
/* header top  */
/* .header{
  position: fixed;
  height: 170px;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
} */
.header-wrap{
  /* position: relative;
  background-color: #ffffff;
  width: 100%; */
  height: 170px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  /* transition: 0.2s ease-out; */
}
.header-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  /* width: 100%; */
  line-height: 22.4px;
  margin: 0px 44px;
  padding: 0px 15px;
  /* z-index: 1; */
  /* transition: 0.6s; */
  /* width: 100%; */
  /* background-color: #ffffff;
  text-overflow: hidden; */
  
}


.header-top{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
  /* background-color: #ffffff; */
  line-height: 20px;
  align-items: center;
  /* width: 100%; */
}
.header-logo_img{
  position: relative;
  height: auto;
  max-width: 110px;
}
.header-contact_item{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}


.header-contact_item-info a{
  text-decoration: none;
  color: var(--primary-orange);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  
}

.header-contact_item-icon i{
  color: var(--primary-redBold);
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  width: 20px;
  margin-left: 5px;
}
/* header bottom  */
.header-bottom{
  position: relative;
  background-color: #ffffff;
  line-height: 22.4px;
  padding: 10px;
  text-align: left;
  margin-top: 4px;
}
.header-bottom_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav_list{
  display: flex;

}
.header-nav_items:nth-child(1){
  list-style: none;
  margin-left: 14px;
}
.header-nav_items:nth-child(2),.header-nav_items:nth-child(3),
.header-nav_items:nth-child(4),.header-nav_items:nth-child(5){
  list-style: none;
  margin-left: 34px;
}
.header-nav_items a{
  text-decoration: none;
  color: var(--primary-orange);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  padding: 13px 0px;
  text-align: left;
}


.scroll-hidden {
  display: none;
}
.scroll-sticky{
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
  transition: 0.15s ease-out;
}

/* .scroll-header-top{
  height: 80px;
  background-color: #ffffff;
  width: 1528px;
} */
.scroll-header{
  position: fixed;
  height: 90px;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  
  transition: 0.2s ease-out;

  /* width: 1528px; */
}

/* .header_hidden{
  display: none;
}
.header-hidden{
  display: flex;
  justify-content: space-between;
} */
/* .header-nav_link {
  display: inline-block;
  color: black;
  position: relative;
} */
.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--primary-orange);
  position: fixed; /*dòng này ý nghĩa là do đường line nó chạy theo phần tử nên phải set như v*/
  pointer-events: none;
  transition: all 0.25s linear;
}
/*----------------------------------------------PRIVATE CODE---------------------------------------------------*/

.grid{
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width{
  width: 100%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.grid__col-12{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.grid__col-5{
  padding-left: 10px;
  padding-right: 10px;
  width: 41.6667%;
}
.grid__col-1{
  padding-left: 10px;
  padding-right: 10px;
  width: 8.3333%;
}
.grid__col-6{
  padding-left: 10px;
  padding-right: 10px;
  width: 50.0000%;
}


/*-------------------------------------------------------------------------------------------------------------*/

.section__img > img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    padding-top: 165px;
}

.section-heading .section-title{
  font-size: calc(1.66945vw + 17.19533px);
  margin: 0;
  position: relative;
  color: #417505;
  margin-top: 15px;
  font-weight: lighter;
  
}
.grid{
  padding-top: 50px;
}
.section-heading:after {
  content: '';
  height: 3px;
  width: 50px;
  background: var(--primary-orange);
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 30px;
}
.desc1{
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: justify;
}
.section-img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.section-heading{
  padding-bottom: 20px;
}
.section-title{
  padding-bottom: 10px;
}
.p1{
  padding-top: 50px;
  padding-bottom: 50px;
}
.popular-heading {
  text-align: center;
  color: #fff;
  font-size: calc(1.66945vw + 17.19533px);
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
  position: relative;

}
.popular-heading:after {
  content: '';
  height: 3px;
  width: 50px;
  background: #fff;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}
.popular{
  background: url(https://theme.hstatic.net/200000492415/1000859563/14/wcu_classes_bg.jpg?v=637)left top/cover no-repeat;
  padding: 50px 0px 100px;
  min-height: 950px;
  min-width: 992px;
}

.popular-title {
    font-size: 44px;
    font-weight: 300;
}

.popular-class__list-item__img{
  padding: 50px 50px;
  width: 290px;
  height: 193px;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}
.popular-class__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popular-class__list-item__1{
  text-align: center!important;
  color: #fff;
  background: #a025ed;
  height: 78px;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 0px;
  border-radius: 0px 0px 8px 8px;
  transition: 0.2s;
}
.popular-class__list-item__1:hover{
  background: #542ba2;

}
.popular-class__list-item__2{
  text-align: center!important;
  background: rgb(216, 0, 107);
  height: 78px;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 0;
  border-radius: 0px 0px 8px 8px;
  transition: 0.2s;
}
.popular-class__list-item__2:hover{
  background:rgb(115, 1, 58);

}
.popular-class__list-item__3{
  text-align: center!important;
  background:rgb(203, 244, 0);
  height: 78px;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 0;
  border-radius: 0px 0px 8px 8px;
  transition: 0.2s;
}
.popular-class__list-item__3:hover{
  background: rgb(110, 131, 2);

}
.popular-class__list-item__4{
  text-align: center!important;
  background: rgb(33, 242, 217);
  height: 78px;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 0;
  border-radius: 0px 0px 8px 8px;
  transition: 0.2s;
}
.popular-class__list-item__4:hover{
  background: rgb(16, 108, 97);

}
.popular-class__list-item{
  margin-left: 10px;
  margin-right: 10px;
}
.popular-class__list-item__1 a{
  text-decoration: none;
  color: #fff;
  padding: 13px 0px;
  height: 54px;
  width: 290px;
  display: inline-block;
}
.popular-class__list-item__2 a{
  text-decoration: none;
  color: #fff;
  padding: 13px 0px;
  height: 54px;
  width: 290px;
  display: inline-block;
  
}
.popular-class__list-item__3 a{
  text-decoration: none;
  color: #fff;
  padding: 13px 0px;
  height: 54px;
  width: 290px;
  display: inline-block;

}
.popular-class__list-item__4 a{
  text-decoration: none;
  color: #fff;
  padding: 13px 0px;
  height: 54px;
  width: 290px;
  display: inline-block;

}


/*-------------------------------------------------SHARED CODE-------------------------------------------------*/


.subscribe{
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 333px;
    background-color:#F4A460 ;
    padding: 80px;
    align-items: center;
}
.subscribe .content{
    color: #fff;
    padding: 0 15px;
    max-width: 100%;
}
.subscribe h3{
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 45px;
}
.subscribe p{
    font-size: 1.6rem;
    margin-top: 15px;
}
.subscribe .email input{
    border: none;  
    border-radius: 30px 0px 0px 30px;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    font-weight: 500;
    width: 470px;
    height: 63px;
    appearance: none;
    padding-left: 15px;
}
.subscribe .email button{
    width: 167px;
    height: 65px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    transition: all 0.3s;
    background: #fff;
    border: 1px solid #f58223;
    font-weight: 500;
    text-transform: uppercase;
    color: #f58223;
    padding: 0px 20px;
    font-size: 15px;
}
.subscribe .email button:hover{
    background-color: #ebebeb;
}

.subscribe .email button > i {
    padding-left: 10px;
    font-size: 17px;
}



footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 50px 100px;
    
}
footer .Container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .Container .about{
    position: relative;
    width: 25%;
}
footer .Container .about img{
    width: 320px;
    height: 180px;
    max-width: 100%;
    position: relative;
    margin-bottom: 15px;
}
footer .Container li{
    list-style: none;
}
.about{
    margin-top: 20px;
    position: relative;
}
.about ul li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 15px;
}
.about ul li a{
    margin-bottom: 20px;
    width: 44px;
    height: 44px;
    display: inline-block;
    align-items: center;
    display:flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;

}
.about .icon_facebook{
    background: #3B5998;
    width: 44px;
    height: 44px;
    border-radius: 60%;
    
}
.about .icon_instagram{
    background: #C32AA3;
    width: 44px;
    height: 44px;
    border-radius: 60%;
}
.about .icon_youtube{
    background: #ff0000;
    width: 44px;
    height: 44px;
    border-radius: 60%;
}

.map_location > h2,
.instruction > h2,
.contact > h2 {
    position: relative;
    padding: 0px;
    margin: 0px 0px 30px;
    font-size: 22px;
    font-weight: 700;
    color: #417505;
}

.map_location > h2::before,
.instruction > h2::before,
.contact > h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #f58223;
}


footer .Container .contact{
    width: 25%;
    padding-left: 20px;
    position: relative;
}
footer .Container .contact li i{
    color: #f58223;
    font-size: 20px;
    padding-right: 10px;
}
footer .Container .contact li{
    position: relative;
    display: inline-block;
    color: #504d4d;
    padding-bottom: 15px;
}
footer .instruction{
    position: relative;
    width: 25%;
    padding-left: 15px;
}

footer .Container .instruction li{
    padding-bottom: 10px;
}
footer .Container .instruction li a{
    position: relative;
    text-decoration: none;
    color: #504d4d;
    transition: 0.3s;
}
footer .Container .instruction li a:hover{
    color: #f58223;
}
footer .Container .map_location{
    position: relative;
}
.footer_bottom{
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: #3c297c;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.footer_bottom > p {
    font-size: 1.6rem;
}



.section1-heading:after {
  content: '';
  height: 3px;
  width: 50px;
  background: var(--primary-orange);
  display: inline-block;
}
.section1-heading{
  color: #417505;
}